@font-face {
  font-family: "PlayfairDisplaySC-Regular";
  font-weight: 400;
  font-style: normal;
  src:
    local("PlayfairDisplaySC-Regular"),
    // url('../fonts/PlayfairDisplaySC-Regular.woff2') format('woff2'),
    url("../fonts/PlayfairDisplaySC-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplaySC-Italic";
  font-weight: 400;
  font-style: normal;
  src:
    local("PlayfairDisplaySC-Italic"),
    // url('../fonts/PlayfairDisplaySC-Italic.woff2') format('woff2'),
    url("../fonts/PlayfairDisplaySC-Italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplaySC-Bold";
  font-weight: 700;
  font-style: normal;
  src:
    local("PlayfairDisplaySC-Bold"),
    // url('../fonts/PlayfairDisplaySC-Bold.woff2') format('woff2'),
    url("../fonts/PlayfairDisplaySC-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplaySC-BoldItalic";
  font-weight: 700;
  font-style: normal;
  src:
    local("PlayfairDisplaySC-BoldItalic"),
    // url('../fonts/PlayfairDisplaySC-BoldItalic.woff2') format('woff2'),
    url("../fonts/PlayfairDisplaySC-BoldItalic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplaySC-Black";
  font-weight: 900;
  font-style: normal;
  src:
    local("PlayfairDisplaySC-Black"),
    // url('../fonts/PlayfairDisplaySC-Black.woff2') format('woff2'),
    url("../fonts/PlayfairDisplaySC-Black.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplaySC-BlackItalic";
  font-weight: 900;
  font-style: normal;
  src:
    local("PlayfairDisplaySC-BlackItalic"),
    // url('../fonts/PlayfairDisplaySC-BlackItalic.woff2') format('woff2'),
    url("../fonts/PlayfairDisplaySC-BlackItalic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Playfair-Regular";
  font-weight: 400;
  font-style: normal;
  src:
    local("Playfair-Regular"),
    // url('../fonts/Playfair-Regular.woff2') format('woff2'),
    url("../fonts/Playfair-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Playfair-Italic";
  font-weight: 400;
  font-style: normal;
  src:
    local("Playfair-Italic"),
    // url('../fonts/Playfair-Italic.woff2') format('woff2'),
    url("../fonts/Playfair-Italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Playfair-LightItalic";
  font-weight: 200;
  font-style: normal;
  src:
    local("Playfair-LightItalic"),
    // url('../fonts/Playfair-LightItalic.woff2') format('woff2'),
    url("../fonts/Playfair-LightItalic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Playfair-Light";
  font-weight: 200;
  font-style: normal;
  src:
    local("Playfair-Light"),
    // url('../fonts/Playfair-Light.woff2') format('woff2'),
    url("../fonts/Playfair-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Russische-Elsevier";
  font-weight: 400;
  font-style: normal;
  src:
    local("Russische-Elsevier"),
    // url('../fonts/Russische-Elsevier.woff2') format('woff2'),
    url("../fonts/Russische-Elsevier.woff") format("woff");
  font-display: swap;
}
