//
%pd-regular {
  font-family: "PlayfairDisplaySC-Regular", sans-serif;
  font-weight: 400;
}

%italic {
  font-family: "PlayfairDisplaySC-Italic", sans-serif;
  font-weight: 400;
}

%bold {
  font-family: "PlayfairDisplaySC-Bold", sans-serif;
  font-weight: 700;
}

%boldi {
  font-family: "PlayfairDisplaySC-BoldItalic", sans-serif;
  font-weight: 700;
}

%black {
  font-family: "PlayfairDisplaySC-Black", sans-serif;
  font-weight: 900;
}

%blacki {
  font-family: "PlayfairDisplaySC-BlackItalic", sans-serif;
  font-weight: 900;
}

//
%p-regular {
  font-family: "Playfair-Regular", sans-serif;
  font-weight: 400;
}

%LightItalic2 {
  font-family: "Playfair-LightItalic", sans-serif;
  font-weight: 200;
}

%light2 {
  font-family: "Playfair-Light", sans-serif;
  font-weight: 200;
}

%italic2 {
  font-family: "Playfair-Italic", sans-serif;
  font-weight: 400;
}

//
%russische {
  font-family: "Russische-Elsevier", sans-serif;
  font-weight: 400;
}
