<header class="header">
    <div class="header__top">
        <div class="container-min">
            <div class="header__top-inner">
                <div class="header__box">
                    <a class="header__logo" href="#main">
                        <img src="images/logo.png" alt="Logo" />
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-li">
                                <a class="menu__list-a" href="#about">
                                    О нас
                                </a>
                            </li>
                            <li class="menu__list-li">
                                <a class="menu__list-a" href="#service">
                                    Услуги
                                </a>
                            </li>
                            <li class="menu__list-li">
                                <a class="menu__list-a" href="#reviews">
                                    Отзывы
                                </a>
                            </li>
                            <li class="menu__list-li">
                                <a class="menu__list-a" href="#contact">
                                    Контакты
                                </a>
                            </li>
                        </ul>

                    </nav>
                </div>

                <ul class="menu__contact">
                    <li class="menu__contact-li">
                        <a class="menu__contact-a" href="tel:+79595998624">Тел: +7 (959) 599-86-24</a>
                    </li>
                    <li class="menu__contact-li">
                        <a class="menu__contact-btn" href="#contact">Написать нам</a>
                    </li>
                    <li class="menu__contact-li">
                        <button class="menu__btn">
                            <span class="menu__btn-line"></span>
                        </button>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container-min">
            <div class="header__bottom-inner">
                <p class="header__subtitle">
                    Ведение бухгалтерского учета, регистрация под ключ и полное юридическое сопровождение сделок.
                </p>
                <h1 class="header__bottom-title">
                    Ваш <span class="header__br"><br /></span>
                    бухгалтер и юрист
                </h1>
                <div class="header__bottom-box">
                    <!-- </div>
                <button class="header__bottom-btn">
                    Консультация
                </button> -->
                </div>
            </div>
        </div>


</header>